<div class="auth">
  <div class="auth__content">

    <%# Logo cliquable vers home %>
    <%= link_to root_path, class: "auth__logo" do %>
      <span class="auth__logo-left">TableR</span>
      <span class="auth__logo-icon">
        <span class="auth__logo-circle"></span>
        <span class="auth__logo-fork"></span>
        <span class="auth__logo-knife"></span>
      </span>
      <span class="auth__logo-right">nde</span>
    <% end %>

    <h1 class="auth__title">Mot de passe oublié ?</h1>

    <%# Affichage des erreurs %>
    <% if resource.errors.any? %>
      <div class="auth__error">
        <% resource.errors.full_messages.each do |message| %>
          <%= message %><br>
        <% end %>
      </div>
    <% end %>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "auth__form" }) do |f| %>

      <div class="auth__field">
        <%= f.label :email, "Email", class: "auth__label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "votre@email.com", class: "auth__input" %>
        <p class="auth__hint">Nous vous enverrons un lien pour réinitialiser votre mot de passe</p>
      </div>

      <%= f.submit "Envoyer le lien", class: "auth__submit" %>

    <% end %>

    <div class="auth__links">
      <%= link_to "Retour à la connexion", new_session_path(resource_name), class: "auth__link" %>
    </div>

  </div>
</div>
